<header>
<div class="logo">
  <img mat-card-image [src]="imagePath" alt="logo du site" class="logo_site">
</div>
<nav >
  <div >
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="button_menu">
      <mat-icon class="icon_menu">menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="isAuth==false"><a routerLink="signup" >S'inscrire</a></button>
        <button mat-menu-item *ngIf="isAuth==false"><a routerLink="login" >S'identifier</a></button>
        <button mat-menu-item *ngIf="isAuth"><a routerLink="posts" >Publications</a></button>
        <button mat-menu-item *ngIf="isAuth"><a routerLink="users" >Liste des collaborateurs</a></button>
        <button mat-menu-item *ngIf="isAuth"><a routerLink="profil">Profil</a></button>

      </mat-menu>

  </div>

</nav>
</header>
<div class="container contenu">
  <div class="row">
    <div class="col-xs-12">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
