header{
  background-color: #1976d2 ;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

}


li>a{
  color:white;
  &:hover{
    color:#90caf9;
  }

}
.logo{
  display: flex;

.logo_site{
  margin:auto;
  height:50px;
  width:auto;
  align-items: center;

}
}

.icon_menu{

  color:white;
}

.contenu{
  padding-top:90px;
}


