<div class="user_list">
  <div  *ngFor="let user of users"  >
    <mat-card class="user">
    <mat-card-header class="user__header">
      <p class="user__name">{{ user.firstName }} {{ user.lastName }} </p>
      <img [src]="user.imageUrl" width="50" height="50" alt="photo de profil" class="user__photo">
    </mat-card-header>
    <mat-card-content class="user__content">
      <p class="user__role">{{ user.role }}</p>
    <p class="user__email">{{ user.email }}</p>
    </mat-card-content>

  </mat-card>

</div>
</div>
